@media only screen and (max-width: 767px) {
  #computer-only {
    display: none;
  }

  #mobile-only {
    display: flex;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 25px;
    width: 200px;
    font-size: 13px;
    line-height: 24px;
    position: relative;
    top: 30px;
  }

  .landing {
    margin: 0!important;
    position: relative;
    top: 0;
    border-radius: 0px!important;
    display: flex;
    flex-direction: column;
    width: 107%;
    left: -12px;
  }

  #logo {
    font-size: 35px;
  }

  .logo-title {
    font-size: 18px!important;
    line-height: 24px!important;
  }

  .logo-desc {
    font-size: 14px!important;
    line-height: 15px!important;
  }

  #tag {
    font-size: 19px;
    line-height: 35px;
    margin: 0 0 0 0;
    text-align: left;
  }

  #tag-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .input {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .mobile-1 {
    position: absolute;
    left: 0;
    top: 25px;
  }

  .mobile-2 {
    position: absolute;
    right: 0px;
    z-index: -2;
    top: 90px;
  }

  #cta-btn {
    width: 100%;
  }

  .features {
    border-radius: 0px;
    position: relative;
    left: -14px;
    width: 108%;
    height: 100%;
  }

  #features-btn {
    display: none;
  }

  .blocks {
    width: 100%;
    left: 0px;
    position: relative;
  }

  .block {
    margin: 5px;
    height: 240px;
    padding: 15px;
  }

  #blocks-header {
    font-size: 19px;
    line-height: 26px;
    margin: 0 0 6px 0;
  }

  #blocks-desc {
    font-size: 15px;
    line-height: 21px;
  }
}
