@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

* {
  box-sizing: border-box;
}

html, body {
  background-color: #eef2f5;
  font-family: 'Roboto', sans-serif!important;
}

#mobile-only {
  display: none;
}

#logo-block {
  color: white;
}

.secondary {
  padding: 20px 20px 30px 20px;
}

.nav {
  display: flex;
  align-items: flex-start;
  position: relative;
  left: 120px;
}

a.item {
  color: white!important;
  display: flex;
  align-items: center;
  padding: 10px 15px 15px;
}

.logo-title {
  font-size: 22px;
  line-height: 25px;
}

.logo-desc {
  font-size: 15px;
  line-height: 25px;
  color: white;
  opacity: .5;
}

.landing {
  background-color: #4957B8;
  height: 780px;
  box-shadow: 0px 10px 14px 0px rgba(79, 90, 166, 0.35);
  border-radius: 10px;
  transform: translate3d(0, 0, 0);
  transition: transform .6s ease, opacity .3s ease;
  width: 1080px;
  margin: 30px auto 0 auto;
}

#tag {
  color: white;
  font-size: 25px;
  line-height: 35px;
  font-weight: lighter;
  width: 75%;
  margin: 150px auto 5px auto;
}

#tag-desc {
  color: white;
  opacity: .6;
  font-size: 18px;
  line-height: 25px;
  margin: 10px 0 20px 0;
  font-weight: lighter;
}

.cta {
  text-align: center;
}

input {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.12)!important;
  color: white!important;
  width: 215px!important;
  height: 45px!important;
  padding: 0 15px;
  margin: 0 10px 0 0;
  font-family: 'PostGrotesk-Book', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px!important;
}

#cta-btn {
  padding: 0 20px;
    font-family: "PostGrotesk-Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    height: 44px;
    line-height: 43px;
    background-color: #68c0f8;
}

h3.header {
  font-size: 17px;
  line-height: 20px;
  margin: 15px 0 12px 0;
}

.features-desc {
  color: #70808D;
  font-size: 15px;
  line-height: 25px;
}

#features-btn {
  color: #6370CA;
  background-color: rgba(99, 112, 202, 0.1);
  box-shadow: none;
  padding: 0 35px;
  height: 44px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 8px;
  margin: 30px 0 0 0;
}

.mobile-wrap {
  display: flex;
}

.mobile-1 {
  position: absolute;
  top: 40px;
  width: 350px;
  right: 160px;
}

.mobile-2 {
  position: absolute;
  top: 120px;
  width: 350px;
  right: -13px;
  z-index: -2;
}

.features-wrap {
  transform: translate3d(0px, -22.56px, 0px) scale(1);
  opacity: 1;
}

.features {
  display: flex;
  width: 100%;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
  box-shadow: 0px -2px 18px 0px rgba(72, 89, 102, 0.25);
  border-radius: 10px;
  height: 300px;
}

#blocks-header {
  font-size: 24px;
  line-height: 30px;
  margin: 50px 0 0px 0;
}

#blocks-desc {
  color: #70808D;
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0 60px 0;
}

.block {
  background-color: white;
  height: 240px;
  margin: 10px;
  box-shadow: 0px 4px 18px 0px rgba(189, 208, 223, 0.26);
  border-radius: 8px;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.block:hover {
  transition: box-shadow .3s ease, transform .3s ease;
}

.desc {
  font-size: 14px;
  line-height: 20px;
  color: #5A6F7E;
  opacity: .8;
}

#block-icon {
  left: 20px;
  bottom: 20px;
  position: absolute;
}

#plus-icon {
  margin: 55px 0 30px 0;
  font-size: 70px;
  cursor: pointer;
  color: #6be598;
}

.footer {
  text-align: center;
  margin: 35px 0 30px 0;
  color: #70808D;
  opacity: .6;
  font-size: 15px;
  line-height: 25px;
}
